html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "TT Lakes", sans-serif;
}

body, div, ul {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
button {
	font-family: "TT Lakes", sans-serif;
	cursor: pointer;
}
button:focus {
	outline: none;
}
a:hover {
	color: rgba(8, 0, 6, 0.5);
	cursor: pointer;
	transition: 500ms;
}
a:active {
	color: #FF3E79;
}
.mobile-menu {
	width: 320px;
	background: #FFFFFF;
	padding: 18px 24px 32px;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
	-moz-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
	-webkit-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
	-o-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
}
.header {
	position: relative;
	margin-bottom: 50px;
}
.wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: none;
		border-radius: 50%;
		background-color: #FF3E79;
		margin-right: 16px;
	}
.wrap .icon {
	width: 60%;
	transition: all .4s linear;
}
.wrap:last-child {
	margin-right: 0px;
}

.wrap-close,
.wrap-search {
	content: "";
	position: absolute;
}
.wrap-close {
	top: 4px;
	left: 0;
}
.wrap-search {
	top: 4px;
	right: 0;
}
.wrap-close:hover .icon {
	transform: rotate(360deg);
}
.wrap-scale:hover .icon {
	transform: scale(1.1);
}
.logo {
	display: inline-block;
	width: 97px;
	height: 51px;
	background: url("../img/icons/logo.svg") center no-repeat;
	-webkit-background-size: 100%;
	background-size: contain;
	margin: 0 0 0 55px;
}

/* menu start */
.menu-list {
	width: 100%;
	margin-bottom: 268px;
}
.menu-item {
	margin-bottom: 32px;
	list-style: none;
	position: relative;
}
.link {
	font-size: 16px;
	color: #1B1C21;
	text-decoration: none;
}
.current {
	position: relative;
	color: #7E7E82;
}
.menu-item .current:after {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: -24px;
	background: #41F6D7;
	border-radius: 0 50% 50% 0;
}
.link:before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	width: 0;
	height: 0;
	background-color: #7E7E82;
	transition: width 0.3s linear;
}
.link:hover:before {
	width: 30px;
	height: 2px;
}
a.link:active:before {
	background-color: #FF3E79;
}

/* footer mobile menu start*/
.сontact {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.mail {
	margin-bottom: 12px;
}
.mail__link {
	font-size: 16px;
	line-height: 24px;
	color: #1B1C21;
	text-decoration: none;
}

.phone {
	margin-bottom: 40px;
}
.phone__link {
	font-size: 24px;
	line-height: 32px;
	color: #1B1C21;
	text-decoration: none;
	font-weight: 600;
}

.lang {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 24px;
	color: #1B1C21;
	text-transform: uppercase;
}
.lang-btn {
	background: none;
	border: none;
	margin-right: 7px;
	padding: 0;
}
.lang-btn:last-child {
	margin-right: 0;
}
