html {
	font-family: 'TT Lakes', sans-serif;
	box-sizing: border-box;
}
body, div, button {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
}
button:focus {
	outline: none;
}
.show {
	position: relative;
	align-self: flex-start;
	border: none;
	font-size: 16px;
	padding-left: 28px;
	margin-left: 10px;
	color: #1B1C21;
	background-color: transparent;
}
.show::after	{
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 100%;
	left: 5px;
	top: 0;
	padding-left: 20px;
	background: url("../img/icons/arrow-bottom.svg") center no-repeat;
	transition: 0.3s linear;
	transition-property: background-image;
}
.show-active::after {
	transform: rotate(-180deg);
}

@media (min-width: 320px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		width: 320px;
		margin: 0 auto;
		background-color: #F8F8F8;
		padding-bottom: 25px;
	}
	.title {
		padding: 16px 10px 16px;
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		color: #7E7E82;
		background: linear-gradient(to right, #F8F8F8, #FFFFFF);
	}
	.brands {
		padding: 25px 10px;
		background-color: #F8F8F8;
	}
	.brand-name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		padding: 16px 9px 16px 16px;
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 6px;
		margin-bottom: 15px;
	}
	.brand-name:last-child {
		margin-bottom: 0;
	}
	.brand-logo {
		max-width: 50%;
		height: 100%;
	}
	.more {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #FF3E79;
		background: url("../img/icons/arrow-right.svg") center no-repeat;
		-webkit-background-size: 20%;
		background-size: 20%;
	}
	.arrow {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
	}
	.info {
		width: 20%;
	}
}
@media (min-width: 768px) {
	.wrapper {
		width: 768px;
	}
	.brands {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.brand-name {
		width: 230px;
		margin-right: 24px;
	}
}

@media (min-width: 1200px) {
	.brands .brand-name:nth-child(n+9) {
		display: none;
	}
	.brands-show .brand-name:nth-child(n+9) {
		display: flex;
	}
	.wrapper {
		width: 1120px;
	}
	.title {
		padding: 16px 16px;
	}
	.brand-name {
		width: 250px;
		margin-right: 32px;
	}
	.brand-name:nth-child(4n) {
			margin-right: 0;
		}
}

@media (max-width: 767px){
	.brands .brand-name:nth-child(n+3) {
		display: none;
	}
	.brands-show .brand-name:nth-child(n+3) {
		display: flex;
	}
}
@media (max-width: 1199px){
	.brands .brand-name:nth-child(n+7) {
		display: none;
	}
	.brands-show .brand-name:nth-child(n+7) {
		display: flex;
	}
	.brand-name:nth-child(3n) {
		margin-right: 0;
	}
}