html {
	box-sizing: border-box;
	font-family: "TT Lakes", sans-serif;
}

body, section, ul {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
button {
	font-family: "TT Lakes", sans-serif;
	cursor: pointer;
}

.wrapper {
	width: 1120px;
	height: 512px;
	margin: 0 auto;
	padding: 42px 32px 19px;
	background-color: #F8F8F8;
}

.button {
	border: none;
	background-color: transparent;
}

/* head-start */
.header {
	display: flex;
	flex-direction: column;
}
.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin-bottom: 8px;
}
.header-title {
	position: relative;
	font-size: 28px;
	font-weight: 600;
	line-height: 40px;
	color: #1B1C21;
}

.header-title:after {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: -32px;
	background: #41F6D7;
	border-radius: 2px;
}

.header-buttons__info {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 40px;
}

.button-header {
	padding-right: 49px;
	height: 40px;
	font-size: 16px;
	color: #1B1C21;
}

.button-repair {
	position: relative;
	margin-right: 32px;
}
.button-checkstatus {
	position: relative;
}
.button-checkstatus:before,
.button-repair:before {
	content: '';
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	border-radius: 50%;
}

.button-checkstatus:before {
	background: #FF3E79 url('../img/icons/checkstatus.svg') center no-repeat;
	background-size: 50% 50%;
}
.button-repair:before {
	background: #FF3E79 url('../img/icons/repair.svg') center no-repeat;
	background-size: 50% 50%;
}

.nav {
	margin-bottom: 10px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu li {
	list-style: none;
	margin-right: 10px;
}

.button-menu {
	padding: 14px 21px;
}
.button_active {
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
	border-radius: 6px;
}
/* header-end*/

/* content-start */

.content-inner {
	display: flex;
	justify-content: space-between;
}

.content-text {
	width: 490px;
	margin-right: 36px;
	flex-grow: 1;
}

.text {
	margin-bottom: 30px;
	font-size: 14px;
	color: #1B1C21;
	overflow: hidden;
}
.content__img {
	width: 531px;
	height: 307px;
}
.content__img > img {
	border-radius: 6px;
}

.button-content {
	padding-left: 30px;
	font-size: 16px;
	font-weight: 600;
	color: #1B1C21;
	background: #F8F8F8 url("../img/icons/arrow-bottom.svg") left no-repeat;
}

/* content-end */
